body {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden; 
}

video {
  display: none;
}

div {
  background: #f0f0f0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  flex: 1;
  display: flex;
  padding: 10px;
}

#canvas {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.analysis-wrapper {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}

.plot {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.l-plot-wrapper {
  width: 40px;
}

.ab-plot-wrapper {
  flex: 1;
}

.ab-plot {
  width: 100%;
  height: 100%;
}

.ab-plot-slider-wrapper {
  width: 40px;
}

.capture-wrapper {
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.capture-button-ring {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid #a0a0a0;
}

button {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 50%;
  border: 0px;
  padding: 0px;
  background-color: #a0a0a0;
}