body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  margin: 0;
}

canvas {
  flex: 1;
}

#analysis-container{
  aspect-ratio: 1/1;
  padding: 5px;
}

#analysis {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

#plot {
  width: 100%;
  height: 100%;
}

#camera {
  display: none;
}